<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企業登録</title>
</head>
<body>
    <div>
        <p>企業名</p><input type="text" placeholder="企業名">
    </div>
    <div>
        <p>企業規模</p>
        <input type="radio">50人以下
        <input type="radio">51~100(人)
        <input type="radio">101~300(人)
        <input type="radio">301~1000(人)
        <input type="radio">1000人以上
    </div>
    <div>
        <p>職種</p>
        <input type="radio">エンジニア系
        <input type="radio">建築系
        <input type="radio">小売業
    </div>
    <input type="text" placeholder="メールアドレス">
    <input type="password" placeholder="パスワード">
    <input type="password" placeholder="確認用パスワード">
</body>
</html>