<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>company_login</title>
</head>
<body>
    <form action="/album/list" th:action="@{/album/list}">
        <input type="text" name="company_code" placeholder="企業コード"><br>
        <input type="text" name="id" placeholder="メールアドレス"><br>
        <input type="password" name="password" placeholder="パスワド"><br>
        <button type="button">新規登録</button><button type="submit">ログイン</button>
    </form>
</body>
</html>